<h2 class="h-dev">Log In</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :username,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "username" }%>
    <br>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <br>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class: "btn btn-primary"%>
  </div>
<% end %>
<h5 class="log">Potential Employer? <p>Use here: <%= link_to 'Log-in', new_recruiter_session_path, class: "btn btn-default"%></p></h5>
<br>
<hr>
<%= render "users/shared/links" %>
