<h1> <%= @job.recruiter.company_name %> </h1>
<hr>
<h3>Company Profile:</h3>
<p> <%= @job.recruiter.company_profile %> </p>

<% if @job.company_name.present? %>
  <h3>Employer</h3>
  <p><%= @job.company_name %></p>
<% end %>

<h2>Position</h2>
<h5> <%= @job.title %> </h5>

<h3>Job Details: </h3>
<p> <%= @job.details %> </p>
<% if @job.job_type.present? %>
  <p>Job type: <strong><%= @job.job_type %></strong></p>
<% end %>
<p>Location: <strong> <%= @job.location %> </strong></p>
<br>
<h3>Requirement: </h3>
<p> <%= @job.requirement %> </p>
<br>
<h3>How to Apply</h3>
<P> <%= @job.how_to_apply %> </P>
<br>
<h4>Closing Date: <small><strong> <%= @job.close_date.strftime("%B, %d, %Y") %> </strong></small></h4>
<br>
<h5>This was posted: <em> <%= time_ago_in_words(@job.created_at) %></em> ago</h5>
<br>

<% if (recruiter_signed_in? && current_recruiter.id == @job.recruiter_id) %>
  <%= link_to 'Edit', edit_job_path(@job), class: "btn btn-primary" %>
  <%= link_to 'Delete', job_path(@job), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
<% end %>
<%= link_to 'Home', root_path, class: "btn btn-default" %>

<br>
<br>
<br>
<br>

