<div class="mycontainer">
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= link_to (image_tag 'Kii.svg', size: 90), root_path %>
  <h2>Please sign in</h2>
  <div class="form-signin">
    <%= f.input :company_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "company_name" } %>

    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class: "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>
<h5 class="log">Not a recruiter? <p>Use here: <%= link_to 'Log-in', new_user_session_path, class: "btn btn-default" %></p></h5>
<br>
<hr>
<%= render "devise/shared/links" %>
</div>
