<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> 
    </div>
    <!-- THIS MIGHT THROW AN ERROR LATER -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if recruiter_signed_in? || user_signed_in? %>
           <% if current_page?("http://localhost:3000/") %>
            <li> <%= link_to 'Jobs', jobs_path, class: "btn btn-primary" %> </li>
         <% end %>
          <% if current_page?("http://localhost:3000/jobs") || current_page?("http://localhost:3000/users/edit") || current_page?("http://localhost:3000/recruiters/edit")%>
            <li><%= link_to "Home", root_path%></li>
          <% end %>
        <% else %>
          <li> <%= link_to 'Jobs', jobs_path, class: "btn btn-primary" %> </li>
          <li> <%= link_to 'Sign Up', new_recruiter_registration_path %> </li>
          <li> <%= link_to 'Log In', new_recruiter_session_path %> </li>
        <% end %>
        <% if recruiter_signed_in?  %>
          <li><%= link_to 'New Post', new_job_path() %></li>
        <% end %>
        <% if recruiter_signed_in? || user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile<%= image_tag 'profile.svg', size: "40x23" %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <% if recruiter_signed_in? %>
            <li> <%= link_to 'Edit Profile', edit_recruiter_registration_path %> </li>
          <% else %>
            <li> <%= link_to "Edit Profile", edit_user_registration_path %> </li>  
          <% end %>
          <% if recruiter_signed_in? %>
            <li><%= link_to 'My Posts', rec_jobs_path(@jobz) %></li>
            <li role="separator" class="divider"></li>
          <% end %>
          <% if recruiter_signed_in? %>
            <li><%= link_to 'Sign Out', destroy_recruiter_session_path, method: :delete %></li> 
          <% else %>
          <li> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </li>
          <% end %>
          </ul>
        </li>
        <% end %> 
        <% if recruiter_signed_in? || user_signed_in? %>
          <form class="navbar-form navbar-left">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Static for now">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
            </div>
            </div>
            <div class="pro-pic clearfix">
            <% if user_signed_in? &&current_user.picture.attached? %>
              <%= link_to edit_user_registration_path do %>
                <%= image_tag url_for(current_user.picture), size: 40, class: "p-pic" %>
              <% end %>
              <% elsif user_signed_in? && !current_user.picture.attached? %>
              <%= link_to edit_user_registration_path do %>
                <%= image_tag ("propic.svg"), size: 40, class: "p-pic" %>
               <% end %>
            <% end %>
            </div>
          </form>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
