<h2 class="h-dev">Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
    <br>
    <br>
    <%= f.input :username,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "username" }%>
    <br>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <br>
    <%= f.label :experience, "Years of work experience?"
    %>
    <%= f.number_field :experience,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "experience" }, in: 1.0..50.0 %>
    <br>
    <br>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <br>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
  </div>
<h5 class="log">Potential Employer? <p>Use here: <%= link_to 'Sign up', new_recruiter_registration_path, class: "btn btn-default" %></p></h5>

<% end %>
<br>
<br>
<hr>
<%= render "users/shared/links" %>
<br>
<br>
